header{background-color: #fdb813;
	padding: 40px;
	text-align: center;
	font-family: arial black
}

	h1{font-size: 90px;
		color: white;}

		h2{font-size: 90px;
		color: white;}

		h3{font-size: 90px;
		color: white;}

		h4{font-size: 90px;
		color: white;}

		h5{font-size: 90px;
		color: white;}

		h6{font-size: 90px;
		color: white;}

header img{
}

/*<header>
	<img src="img/photo.jpg">
	<h1>Dena Churchman</h1>
</header>*
